body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#f4f4f4;
}

img{
  width: 100%;
  height: 100%;
}

ul{
  list-style-type: none;
  padding:0;
}


.nav{
  background: #4364a3;
  height: 40px;
}

.nav > img{
  margin: auto auto auto 15px;
  width: 120px;
  height: 30px;
  
}

#searchField{
  padding-left:20px;
  border-radius:5px;
  border:1px solid #ccc;
  margin: 25px auto 10px auto;      
}

.carousel-title{
  margin: 15px 0 15px 100px;
  font-size: 24px;
  font-weight: 300;
  color: #3399c7;
}

.horizontal-list{
  max-width: 800px;
  margin:auto;
  display: flex;
  border: 1px solid #ccc;
}
.list-items{
  height:200px;
  opacity:0.7;
}

.list-items:hover {   
  opacity:1;
}

#event-name-tag{
  transition-duration: 0.2s;
  max-width: 266px;
  color: white;
  text-align: center;
  padding: 0;
  margin:0;
  font-weight: 500;
}

#event-name-tag > div{
  height: 100%;
  padding:0;
  margin:0;
}

#event-name-tag > div > li{
  padding-top:140px;
  display: -webkit-inline-box;
}
#event-name-tag > div > li > p{
  padding: 3px 7px;
  background: rgba(0,0,0,0.7)
  
}

.grid-item {
  /* margin: 15px; */
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 1px dotted blue;
  text-align: center;
}

input[type="text"] {
  width: 600px;
  height: 35px;
  margin: 50px auto 10px auto;
  display:inherit;
  
}

.section-wrapper{
  background-color: white;
  padding-top: 15px;
  padding-bottom:15px;
  width: 90%;
  margin: 40px auto;
  box-shadow: 0px 5px 13px 3px rgba(0,0,0,0.14);
}

#controls-title{
  color: #3399c7;
  font-weight: 300;
  font-size: 26px;

}
#controls-description{
  margin-top:5px;
  color: #555;
  font-size: 14px;
}

.grid-wrapper {
  max-width: 1200px;
  width: auto;
  margin: auto;
}

.event-container{
  width: 80%;
  grid-template-columns: auto auto auto;
  margin: auto;
}

.grid-container {
  display: grid;
  margin-top:20px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.lower-content{
  margin-top:30px;
  width: 80%;
  margin: auto;
}

.result{
  max-width: 1200px;
  width: auto;
  margin: auto !important;
}

.result-key-container{
  
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.result-key{
  display: flex;
}
 
.p-wrapper > p{
  margin: 10px 0 10px 0;
  font-size: 14px;

  
} 

.result-key > p {
  font-weight: bold;
  color: #333;
  /* font-size: 14px; */
  line-height: 1.42857;
  margin-right:20px;
  
}
.fit-content{
  width: fit-content;
  margin: auto;
}
.no-margin{ 
  margin:0;
}



/*
    COLOR DOTS FOR RESULT KEY
*/
.dot{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: auto 7px 16px auto;
  
}

.dot-red {
  background-color: #f22a1d;
}
.dot-yellow {
  background-color: #eda73b;
}
.dot-blue {
  background-color: #39aade;
}
.dot-green {
  background-color: #28b94c;
}


/*
  EVENT PREDICTION TILE
*/

.prediction-tile{
  min-height: 200px;
  position: relative;
  text-align: center;
  box-shadow: 0px 5px 13px 3px rgba(0,0,0,0.24);
  background-color: #f5f5f5;
  border: 5px;
  width: 95%;
  margin: 15px auto;
  transition-duration: 0.2s;
}

.prediction-tile:hover{
    background: rgba(238, 163, 32, 0.7);
    transition-duration: 0.2s;
    transform: translate(-2px, -2px);
}

.prediction-tile > img {
  /* padding: 15px; */
  display: block;
  width: auto;
  height: auto;
  max-width: 100%; 
}

#detection-scores{
  margin: 0 15px;
}

#detection-scores > div > p {
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: #404040;
  font-weight: bold;
}

#timestamp{
  transform: translate(0%, -100%);
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  background: rgba(0,0,0,0.6);
  display: -webkit-inline-box;
  padding: 0 5px;
}

#detection{
  margin-top: 15px;
  background-color: #33323a;
  color: white;
  font-weight: 500;
}