body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#f4f4f4;
}

img{
  width: 100%;
  height: 100%;
}

ul{
  list-style-type: none;
  padding:0;
}


#searchField{
  padding-left:20px;
  border-radius:5px;
  border:1px solid #ccc;
  margin: 25px auto 10px auto;
      
}

#searchField::placeholder {
  
}

.nav{
  background: #4364a3;
  height: 40px;
}

.nav > img{
  margin: auto auto auto 15px;
  width: 120px;
  height: 30px;
  
}

.horizontal-list{
  max-width: 800px;
  margin:auto;
  display: flex;
  border: 1px solid #ccc;
}
.list-items{
  height:200px;
  opacity:0.8;
  /* border: 1px dotted green; */
  
}

.list-items:hover {   
  opacity:1;
}

#event-name-tag{
 display: inline-block;
    color: white;
    background: rgba(0,0,0,0.7);
    margin-top: 140px;
    text-align: center;
    padding: 1px 8px;
    font-weight: 500;
}

#event-name-tag > a > p {
  padding:0;
  margin:0;
}

.grid-item {
  margin: 15px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  text-align: center;
}

input[type="text"] {
  width: 600px;
  height: 35px;
  margin: 50px auto 10px auto;
  display:inherit;
  
}

.section-wrapper{
  background-color: white;
  padding-top: 15px;
  padding-bottom:15px;
  width: 90%;
  margin: 40px auto;
  box-shadow: 0px 5px 13px 3px rgba(0,0,0,0.14);
}

#controls-title{
  color: #3399c7;
  font-weight: 300;
  font-size: 26px;

}
#controls-description{
  margin-top:5px;
  color: #555;
  font-size: 14px;
}

.grid-wrapper {
  width: 700px;
  margin:auto;
}

.event-container{
  width: 100%;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.fit-content{
  width: fit-content;
  margin: auto;
}


.no-margin{
  
  margin:0;
}
